* {
  all: unset;
  font-family: "JetBrains Mono Nerd Font", monospace;
}

.volume-output-widget,
.volume-input-widget {
  background-color: rgba(255, 255, 255, 0);
  color: #000;
  border-radius: 32px;
  padding: 12px;
}

.audio-osd {
  background: rgba(255, 255, 255, 1);
  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 4px 4px;
  border-radius: 32px;
}

.metric scale trough highlight,
.audio-panel-slider scale trough highlight {
  all: unset;
  // background-color: #000;
  background-image: linear-gradient(
    45deg,
    rgba(202, 158, 230, 1) 0%,
    rgba(137, 180, 250, 1) 100%
  );
  color: #000;
  border-radius: 8px;
}

.metric scale trough,
.audio-panel-slider scale trough {
  all: unset;
  background-color: rgba(230, 230, 230, 1);
  border-radius: 8px;
  // box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
  min-height: 8px;
  min-width: 135px;
  margin-left: 12px;
  margin-right: 12px;
}

.audio-panel-slider scale trough {
  min-height: 16px;
  min-width: 190px;
  margin: 0px 16px 0px 16px;
}

.audio-panel-slider scale trough slider {
  background: #fff;
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px 2px;
  border: 1px solid rgba(200, 200, 200, 1);
  min-height: 16px;
  min-width: 20px;
  border-radius: 16px;
}

.audio-panel-slider label {
  color: #000;
  margin-left: 16px;
}

.audio-panel-box {
  background-color: #fff;
  margin: 8px;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
  border-radius: 16px;
}

.metric label {
  margin-left: 28px;
}

.calendar {
  color: #000;
  background: rgba(255, 255, 255, 1);
  border-radius: 16px;

  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 5px 2px;
}

calendar {
  padding: 4px;
}

calendar:selected {
  background: rgba(200, 200, 200, 1);
  color: #fff;
  border-radius: 8px;
}

calendar .button {
  color: #fff;
}

calendar .highlight {
  background: rgba(240, 240, 240, 1);
  border-radius: 8px;
}
